@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #f1f1f1;
  --bg-secondary: #fbfbfb;
  --dark-gray: #333;
  --light-brown: #c7a171;
  --black: #1f2226;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h2 {
  font-family: "Oswald", sans-serif;
  color: var(--dark-gray);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#header nav ul li a {
  transition: background-color 0.3s ease;
}

/* Utility Classes */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.text-primary {
  color: var(--light-brown);
  font-weight: 600;
}

.heading {
  text-align: center;
  text-transform: uppercase;
}

.heading span {
  font-size: 18px;
}

.heading h2 {
  font-size: 40px;
  font-weight: 500;
}

/* Header Start*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

main {
  margin-top: 60px;
}

#header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  height: 80px;
}

#header .navbar .logo {
  width: 190px;
}

#header .navbar ul {
  display: flex;
}

#header .navbar ul li a {
  font-size: 17px;
  font-weight: 500;
  color: var(--dark-gray);
  margin: 0 15px;
  transition: all 0.3s ease;
}

#header .navbar ul li a:hover {
  color: var(--light-brown);
}

#menu-icon {
  display: none;
}
/* Header End*/
/* Home Start */
#home {
  background: url("./images/home-bg.png") center no-repeat;
  background-size: 100%;
  background-color: var(--bg-color);
}

#home .home-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
  align-items: center;
  gap: 4rem;
}

#home .home-content .content-text h3 {
  font-size: 24px;
  font-weight: 400;
}

#home .home-content .content-text h1 {
  font-size: 70px;
  margin: 20px 0;
  line-height: 1.3;
}

#home .home-content .content-text p {
  font-size: 18px;
  line-height: 1.5;
}

#home .home-content .content-text .btn {
  display: inline-block;
  margin-top: 2rem;
  background-color: var(--light-brown);
  color: #fff;
  padding: 12px 25px;
  border-radius: 30px;
  transition: all 0.3s ease;
}

#home .home-content .content-text .btn i {
  margin-left: 5px;
}

#home .home-content .content-text .btn:hover {
  background-color: var(--dark-gray);
}

#home .home-content img {
  display: block;
  width: 100%;
  margin-left: auto;
}
/* Home End */
/*About Start*/
#about,
#menu,
#testimonials,
#contact,
#footer .footer-top {
  padding: 6rem 0;
}

#about .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

#about .row .about-content h2 {
  text-transform: uppercase;
  font-size: 28px;
  margin-bottom: 10px;
}

#about .row .about-content .item {
  margin: 2rem 0;
}

#about .row .about-content .item h3 {
  margin-bottom: 5px;
}

#about .row .about-content p {
  line-height: 1.5;
}

#about .row .about-content .item p {
  line-height: 1.5;
}
/*About End*/
/*Menu Start*/
#menu {
  background-color: var(--bg-color);
}

#menu .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2rem;
  gap: 5rem;
  align-items: center;
}

#menu .row .col .item {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  border: 1px solid #ddd;
  padding: 25px 20px;
}

#menu .row .col .item img {
  width: 80px;
  margin-left: -50px;
}

#menu .row .col .item .details {
  margin-left: 20px;
}

#menu .row .col .item .details h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

#menu .row .col .item .details p {
  font-size: 14px;
  line-height: 1.6;
}

#menu .row .col .item .price {
  border-left: 1px solid #eee;
  padding: 20px;
  margin: auto;
}

#menu .row .col .item .price p {
  font-size: 20px;
  font-weight: 600;
}
/*Menu End*/
/* Testimonials Start*/
#testimonials .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 6rem;
  gap: 2.5rem;
}

#testimonials .row .item {
  background-color: var(--bg-color);
  text-align: center;
  padding: 25px 25px 35px;
}

#testimonials .row .item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #fff;
  margin-top: -50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#testimonials .row .item h3 {
  margin: 20px 0 10px;
}

#testimonials .row .item p {
  line-height: 1.6;
}
/* Testimonials End*/
/* Contact Start */
#contact {
  background-color: var(--bg-color);
}

#contact .row {
  display: grid;
  grid-template-columns: 2fr 1.4fr;
  margin-top: 2rem;
}

#contact .row .contact-content {
  background-color: #fff;
  padding: 2.5rem;
}

#contact .row .contact-content h3 {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 500;
}

#contact .row .contact-content form input:not(.btn-submit),
#contact .row .contact-content form textarea {
  display: block;
  width: 100%;
  margin: 15px 0;
  padding: 15px;
  border: 1px solid #ccc;
}

#contact .row .contact-content form .btn-submit {
  background-color: var(--black);
  width: 100%;
  color: #fff;
  padding: 20px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}

#contact .row .contact-content form .btn-submit:hover {
  background-color: var(--light-brown);
}

#contact .row iframe {
  width: 100%;
  height: 100%;
}
/* Contact End */
/* Footer Start */
#footer .footer-top {
  background: url("./images/footer-bg.png");
  color: #fff;
}

#footer .footer-top .row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 3rem;
}

#footer .footer-top .row h3 {
  margin-bottom: 15px;
}

#footer .footer-top .row p {
  width: 400px;
  line-height: 1.6;
}

#footer .footer-top .row ul li {
  margin: 10px 0;
}

#footer .footer-top .row ul li i {
  margin-right: 10px;
}

#footer .footer-top .row ul li a {
  color: #fff;
}

#footer .copyright {
  background-color: var(--dark-gray);
  padding: 30px 0;
  text-align: center;
  color: #fff;
}

#footer .copyright p {
  font-weight: 500;
}

#footer .copyright p a {
  color: #fff;
  transition: all 0.3 ease;
}

#footer .copyright p a:hover {
  color: #fff;
}
/* Footer End */

/* Media  */
@media (max-width: 992px) {
  /* Header Start */
  /* Hamburger Menu Start*/
  #header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  #header .navbar ul {
    display: none;
  }

  #menu-icon {
    display: block;
    font-size: 25px;
    color: var(--dark-gray);
    cursor: pointer;
  }
  /* Hamburger Menu End*/

  /* Header End */

  /* Home Start */
  #home .home-content {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 2rem;
    padding-top: 50px;
  }

  #home .home-content .content-text h1 {
    font-size: 50px;
  }

  #home .home-content img {
    width: 80%;
    margin: 0 auto;
    order: 2;
  }

  #home .home-content .content-text {
    order: 1;
  }

  /* Home Backgrond */
  #home {
    background-size: cover;
    background-position: center;
    min-height: auto;
    padding-bottom: 50px;
  }
  /* Home End */

  /* About Start */
  #about .row {
    grid-template-columns: 1fr;
    text-align: center;
  }

  #about .row img {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    order: 1;
  }

  #about .row .about-content {
    padding: 0 10px;
  }
  /* About End */

  /* Menu Start */
  #menu .row .col .item {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
  }

  #menu .row .col .item img {
    margin-left: 0;
    margin-bottom: 20px;
    width: 100px;
  }

  #menu .row .col .item .details {
    margin-left: 0;
    margin-bottom: 20px;
  }

  #menu .row .col .item .price {
    border-left: none;
    border-top: 1px solid #eee;
    width: 100%;
    padding-top: 15px;
  }
  /* Menu End */

  /* Testimonials Start */
  #testimonials .row {
    grid-template-columns: 1fr;
    gap: 80px;
    margin-top: 80px;
  }

  #testimonials .row .item {
    padding: 60px 20px 30px;
  }
  /* Testimonials Start */

  /* Contact Start */
  #contact .row {
    grid-template-columns: 1fr;
  }

  #contact .row .map {
    height: 350px;
    order: 1;
  }

  #contact .row .map iframe {
    height: 100%;
  }

  #contact .row .contact-content {
    padding: 3rem 1.5rem;
  }

  #contact .row .contact-content h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  /* Contact End */
  /* Footer Start */
  #footer .footer-top .row p {
    width: 100%;
  }

  #footer .footer-top .row {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 3rem;
  }

  #footer .footer-top .row p {
    width: 100%;
    margin: 0 auto;
  }

  #footer .footer-top .row ul {
    padding: 0;
  }

  #footer .footer-top .row .col list-row {
    display: flex;
  }

  #footer .footer-top .row .col ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15px;
    gap: 20px;
    padding: 0;
  }

  #footer .footer-top .row .col ul li {
    margin: 0;
  }

  #footer .copyright {
    padding: 20px 10px;
  }
}
