@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #f1f1f1;
  --bg-secondary: #fbfbfb;
  --dark-gray: #333;
  --light-brown: #c7a171;
  --black: #1f2226;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h2 {
  font-family: "Oswald", sans-serif;
  color: var(--dark-gray);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Utility Classes */
.container {
  max-width: 1100px;
  margin: auto;
}

.text-primary {
  color: var(--light-brown);
}

/* Header Start*/
#header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

#header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: auto;
  height: 80px;
}

#header .navbar .logo {
  width: 190px;
}

#header .navbar ul {
  display: flex;
}

#header .navbar ul li a {
  font-size: 17px;
  font-weight: 500;
  color: var(--dark-gray);
  margin: 0 15px;
  transition: all 0.3s ease;
}

#header .navbar ul li a:hover {
  color: var(--light-brown);
}
/* Header End*/
/* Home Start */
#home {
  background: url("./images/home-bg.png") center no-repeat;
  background-size: 100%;
  background-color: var(--bg-color);
  padding: 3rem 0;
}

#home .home-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
  align-items: center;
  padding-top: 60px;
  gap: 3rem;
}

#home .home-content .content-text h3 {
  font-size: 24px;
  font-weight: 400;
}

#home .home-content .content-text h1 {
  font-size: 70px;
  margin: 20px 0;
  line-height: 1.3;
}

#home .home-content .content-text p {
  font-size: 18px;
  line-height: 1.5;
}

#home .home-content .content-text .btn {
  display: inline-block;
  margin-top: 2rem;
  background-color: var(--light-brown);
  color: #fff;
  padding: 12px 25px;
  border-radius: 30px;
  transition: all 0.3s ease;
}

#home .home-content .content-text .btn i {
  margin-left: 5px;
}

#home .home-content .content-text .btn:hover {
  background-color: var(--dark-gray);
}

#home .home-content img {
  display: block;
  width: 100%;
  margin-left: auto;
}
/* Home End */
/*About Start*/
#about {
  padding: 6rem 0;
}

.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

#about .row .about-content h2 {
  text-transform: uppercase;
  font-size: 28px;
  margin-bottom: 10px;
}

#about .row .about-content .item {
  margin: 2rem 0;
}

#about .row .about-content .item h3 {
  margin-bottom: 5px;
}

#about .row .about-content p {
  line-height: 1.5;
}

#about .row .about-content .item p {
  line-height: 1.5;
}
/*About End*/
